# Ignore linting files
.eslintrc.cjs

# Ignore Jest configuration
jest.config.mjs

# Ignore documentation files
docs/
*.html
*.md
*.markdown
.markdownlint.json
jsdoc.json

# Ignore environment files
*.env
*.env.*

# Ignore Node.js modules
node_modules/

# Ignore Visual Studio Code settings
.vscode/

# Ignore Git related files
.git/
.gitignore

# Ignore license files
LICENSE

# Ignore data and script directories
data/
scripts/

# Ignore Docker-related files
docker/
.dockerignore

# Ignore coverage directory
coverage/